{% extends 'layout' %}

{% block content %}
<section class="legal-section law">
	<div class="law__inner">
		<div class="law__content">

			<div class="box">
				<h3 class="box-title">配送・送料について</h3>
				<article class="box-body">
					<h4>・ヤマト運輸</h4>
					<p>通常は以下の送料となります。<br>
						じょうろや家具などの大きい商品は別途送料がかかる場合もございますのでご了承ください。</p>
					<p>※購入金額16,500円以上のお客様は送料無料となります。<br>
						（配送先が北海道・沖縄・離島の場合には、22,000円以上のご注文で送料無料とさせていただきます。またシステムの都合上、16,500円以上で送料0円と計算されますため、正式な送料はご注文確定後に別途メールにてご案内いたします。）</p>
					<ul>
						<li>北海道　1210円</li>
						<li>東北：青森・岩手・宮城・秋田・山形・福島　880円</li>
						<li>関東：茨城・栃木・群馬・埼玉・千葉・東京・山梨・神奈川　880円</li>
						<li>信越：新潟・長野　880円</li>
						<li>北陸：富山・石川・福井　880円</li>
						<li>中部：岐阜・静岡・愛知・三重　880円</li>
						<li>関西：滋賀・京都・大阪・兵庫・奈良・和歌山　880円</li>
						<li>中国：鳥取・島根・岡山・広島・山口　990円</li>
						<li>四国：徳島・香川・愛媛・高知　1100円</li>
						<li>九州：福岡・佐賀・長崎・熊本・大分・宮崎・鹿児島　1210円</li>
						<li>沖縄　1430円</li>
					</ul>
					<p>地域によって値段が異なります（税込）。<br>
						※離島及び一部地域において別途ご負担いただきく場合がございます。</p>
				</article>
			</div>

			<div class="box">
				<h3 class="box-title">支払い方法</h3>
				<article class="box-body">
					<ul>
					<li>・クレジットカード<br>
					<img src="images/card_com.jpg"></li>
					<li>・Amazon Pay</li>
					<li>・商品代引き（ヤマト運輸）</li>
					</ul>
				</article>
			</div>

			<div class="box">
				<h3 class="box-title">特定商取引法に関する表記</h3>
				<article class="box-body">
					<dl class="bo-sepa">
						<dt>販売業者</dt>
						<dd>蒲田商店</dd>
					</dl>
					<dl class="bo-sepa">
						<dt>運営統括責任者名</dt>
						<dd>土田由里</dd>
					</dl>
					<dl class="bo-sepa">
						<dt>所在地</dt>
						<dd>〒670-0917　兵庫県姫路市忍町39</dd>
					</dl>
					<dl class="bo-sepa">
						<dt>お支払い方法</dt>
						<dd>・クレジットカード決済<br>
							・代金引換決済<br>
							・銀行振込</dd>
					</dl>
					<dl class="bo-sepa">
						<dt>支払時期</dt>
						<dd>・クレジットカード決済：商品注文時にお支払いが確定します。<br>
							・代金引換決済：商品到着時、配達員の方へ現金でお支払いください。<br>
							・銀行振込決済：注文後7日以内にお支払いください。</dd>
					</dl>
					<dl class="bo-sepa">
						<dt>商品代金以外の料金の説明</dt>
						<dd>・消費税（10%）<br>
							・送料（送料はお客様負担となります。配送方法、配送先毎に料金が異なります。詳細は、送料とお支払い方法についてのページをご覧ください。）<br>
							・お支払方法に代金引換を選択された場合は、代金引換手数料<br>
							・お支払方法に銀行振込の手数料を選択された場合は、お振込み時に銀行への振込み手数料はお客様でご負担ください。</dd>
					</dl>
					<dl class="bo-sepa">
						<dt>販売可能数量</dt>
						<dd>・１個から</dd>
					</dl>
					<dl class="bo-sepa">
						<dt>商品引渡し時期</dt>
						<dd>前払い（クレジットカード・銀行振込）：指定日がなければ入金確認後3営業日以内で発送いたします。<br>
							代金引換決済：指定日がなければご注文確認後3日営業日以内で発送いたします。<br>
							その他の支払方法：指定日がなければご注文後3日営業日以内で発送いたします。</dd>
					</dl>
					<dl class="bo-sepa">
						<dt>商品発送・引渡し方法</dt>
						<dd>当店指定業者にて速やかに発送・お渡しいたします。</dd>
					</dl>
					<dl class="bo-sepa">
						<dt>申込の有効期限</dt>
						<dd>ご注文日から7日以内にご入金を確認できなかった場合は、ご注文を取り消させていただきます。</dd>
					</dl>
					<dl class="bo-sepa">
						<dt>不良品対応について</dt>
						<dd><p>商品到着時に必ず商品をご確認ください。<br>
							配送途中の破損などの事故がございましたら、速やかに当店までご連絡ください。</p>
							<p>【返品時期】<br>
							ご購入後日3営業日以内にご連絡があった場合に返金可能となります。<br>
							※商品到着後3営業日以降のご連絡の場合、対応しかねます。</p>
							<p>【返品方法】<br>
							メールまたはお電話にて返金要請をお願いいたします。<br>
							当店での内容確認完了後、3日以内にご購入代金を指定の口座へお振込みいたします。<br>
							返品方法については別途メールにてご案内いたします。</p>
							<p>【お客様都合での返品について】<br>
								お客様都合での返品についてはお受けできません。ご了承ください。</p></dd>
					</dl>
					<dl class="bo-sepa">
						<dt>返品送料・手数料</dt>
						<dd>商品不良・商品誤配送の場合、当店にて負担いたします。</dd>
					</dl>
					<dl class="bo-sepa">
						<dt>表現、及び商品に関する注意書き</dt>
						<dd>当店では、手作りの商品を始め1点1点異なる味わいの商品も取り扱っています。商品に示された表現や再現性には個人差があり、必ずしもデザインやサイズを保証したものではございません。<br>
							ご確認の上、あらかじめご注意ください。</dd>
					</dl>
					<dl class="bo-sepa">
						<dt>サービス名</dt>
						<dd>蒲田商店オンラインショップ</dd>
					</dl>
					<dl class="bo-sepa">
						<dt>電話番号</dt>
						<dd>079-258-7429<br>
							（11:00〜16:30　定休日：水曜日、土日祝：不定休）</dd>
					</dl>
					<dl class="bo-sepa">
						<dt>電話番号</dt>
						<dd>info@kamada-shouten.jp</dd>
					</dl>
					<dl>
						<dt>販売URL</dt>
						<dd>https://kamada-shouten.shop</dd>
					</dl>
				</article>
			</div>

		</div>
	</div>
</section>
{% endblock %}
