<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<title>{{ shop.name }} | {{ page_title }}</title>
	<meta name="description" content="{{ shop.description }}">
	<link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
</head>

<body class="{{ template }}">
	<header class="site-header">
		<div class="header__logo">
			<a href="/"><img src="{{ 'logo_m.png' | asset_url }}"></a>
		</div>
		<div class="header__inner">
			<h1 class="header__title">
				<a href="/"><img src="{{ 'logo.png' | asset_url }}"></a>
			</h1>
			<nav class="site-nav">
				<ul>
					<li><a href="/items">オンラインショップ</a></li>
					<li><a href="/contact">店舗案内</a></li>
				</ul>
			</nav>
		</div>
		<nav class="header__sns">
			<ul>
				<li><a href="#"><img src="{{ 'login_i.png' | asset_url }}"></a></li>
				<li><a href="#"><img src="{{ 'cart_i.png' | asset_url }}"></a></li>
				<li><a href="/contact"><img src="{{ 'ins_i.png' | asset_url }}"></a></li>
			</ul>
		</nav>
		<div class="menu-toggle">
			<img src="{{ 'menu_i.png' | asset_url }}" alt="メニュー" class="menu-icon">
			<img src="{{ 'close_i.png' | asset_url }}" alt="閉じる" class="close-icon">
		</div>
		<nav class="sp-nav">
			<!-- ▼ ここにSP用 left_columnを丸ごと入れる -->
			<div class="sp-left-column">
				<div class="search_box">
					<button><img src="images/search_g.png"></button>
					<input type="text" placeholder="Search">
				</div>
				<ul class="category-list">
					{% for collection in collections %}
						<li>
							<a href="{{ collection.url }}">{{ collection.name }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<!-- ▲ left_column部分ここまで -->
		</nav>
	</header>

	<div class="contents">


		<main class="main">
			<div class="left_column nondisplay_sp">
				<form action="/search" method="get" class="search_box">
					<button type="submit"><img src="images/search_i.png"></button>
					<input type="text" name="q" placeholder="　Search　">
				</form>

				<aside class="sidebar">
					<ul class="category-list">
						{% for collection in collections %}
							<li>
								<a href="{{ collection.url }}">{{ collection.name }}</a>
							</li>
						{% endfor %}
					</ul>
				</aside>
			</div>



			<div class="right_column">
				{{ content_for_layout }}
			</div>
		</main>



			<footer class="footer">
				<nav class="footer_nav">
					<ul>
						<li><a href="#">店舗案内</a></li>
						<li><a href="#">お問い合わせ</a></li>
						<li><a href="#">ショッピングガイド</a></li>
						<li><a href="#">プライバシーポリシー</a></li>
						<li><a href="#">特定商取引に関する表示</a></li>
					</ul>
				</nav>
				<div class="footer__inner">
					<div class="shop_info">
						<h2 class="shop_name"><img src="{{ 'footer_logo.png' | asset_url }}" alt="蒲田商店"></h2>
						<p class="address">〒759-4103<br>
						山口県長門市深川湯本1260-1</p>
						<p class="tel">TEL：070-2356-5102</p>
						<p class="email">MAIL：info@kamada-shouten.jp</p>
						<i class="footer_sns">
							<a href=""><img src="{{ 'insta_logo.png' | asset_url }}" alt="Instagram"></a>
						</i>
					</div>
					<i class="footer_sns nondisplay_sp">
						<a href=""><img src="{{ 'ins_i.png' | asset_url }}" alt="Instagram"></a>
					</i>
					<p class="copy">Copyright &copy; 2025 蒲田商店</p>
				</div>
			</footer>

	</div>
	<script src="https://basefile.akamaized.net/kamada-base-ec/68f4b87a53a44/script_v1.js" defer></script>
	{{ content_for_footer }}
</body>
</html>
