{% extends 'layout' %}

{% block content %}
<section class="legal-section privacy">
	<div class="privacy__inner">
		<div class="privacy__content">

			<div class="box">
				<h3 class="box-title">プライバシーポリシー</h3>
				<article class="box-body">
					<p>蒲田商店オンラインショップ（以下，「当店」といいます。）は，GMOペパボ株式会社(以下サービス提供会社)の提供するショッピングカートASPサービス　カラーミーショップ(当サービス)を利用して当店を開設するにあたり，GMOペパボ株式会社の定めたプライバシー・ポリシーに則った個人情報の取扱いを行うものとし，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。</p>
				</article>
				<article class="box-body">
					<h4>第1条（個人情報）</h4>
					<p>「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報及び容貌，指紋，声紋にかかるデータ，及び健康保険証の保険者番号などの当該情報単体から特定の個人(以下サービス提供会社)の提供するショッピングカートASPサービス　カラーミーショップ(当サービス)を利用して当店を開設するにあたり，GMOペパボ株式会社の定めたプライバシー・ポリシーに則った個人情報の取扱いを行うものとし，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。</p>
				</article>
				<article class="box-body">
					<h4>第2条（個人情報の収集方法）</h4>
					<p>当店は，お客様が当サービスを利用し登録，購入，問い合わせをする際に個人情報を収集することがあります。また，お客様と提携先などとの間でなされたお客様の個人情報を含む取引記録や決済に関する情報を,当店の提携先（情報提供元，広告主，広告配信先などを含みます。以下，｢提携先｣といいます。）などから収集することがあります。<br />
					当店で収集する個人情報は以下のとおりです。(以下サービス提供会社)の提供するショッピングカートASPサービス　カラーミーショップ(当サービス)を利用して当店を開設するにあたり，GMOペパボ株式会社の定めたプライバシー・ポリシーに則った個人情報の取扱いを行うものとし，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。</p>
					<ul>
						<li>氏名及びフリガナ</li>
						<li>生年月日</li>
						<li>住所</li>
						<li>電話番号</li>
						<li>メールアドレス</li>
						<li>銀行口座番号</li>
						<li>クレジットカード番号</li>
						<li>運転免許証番号</li>
						<li>パスワード</li>
						<li>配送先情報</li>
						<li>当店とのお取引履歴及びその内容</li>
						<li>上記を組み合わせることで特定の個人が識別できる情報</li>
					</ul>
				</article>
				<article class="box-body">
					<h4>第3条（個人情報を収集・利用する目的</h4>
					<p>当店が個人情報を収集・利用する目的は，以下のとおりです。</p>
					<ul>
						<li>ご注文及び商品発送の確認・照会など，当店サービスの提供・運営のため</li>
						<li>お客様からのお問い合わせに回答するため（本人確認を行うことを含む）</li>
						<li>新商品，更新情報，キャンペーン等及び当店が提供する他のサービスの案内のメール及び郵送物を送付するため</li>
						<li>価格改定，重要なお知らせなど必要に応じたご連絡のため</li>
						<li>利用規約に違反したお客様や，不正・不当な目的でサービスを利用しようとするお客様の特定をし，ご利用をお断りするため</li>
						<li>お客様にご自身の登録情報の閲覧や変更，削除，ご利用状況の閲覧を行っていただくため</li>
						<li>有料サービスにおいて，お客様に利用料金を請求するため</li>
						<li>上記の利用目的に付随する目的</li>
					</ul>
				</article>
				<article class="box-body">
					<h4>第4条（個人情報の第三者提供）</h4>
					<p>当店は，次に掲げる場合を除いて，あらかじめお客様の同意を得ることなく，第三者に個人情報を提供することはありません。ただし，個人情報保護法その他の法令で認められる場合を除きます。</p>
					<ul>
						<li>人の生命，身体または財産の保護のために必要がある場合であって，本人の同意を得ることが困難であるとき</li>
						<li>公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって，本人の同意を得ることが困難であるとき</li>
						<li>国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって，本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</li>
						<li>予め次の事項を告知あるいは公表し，かつ当店が個人情報保護委員会に届出をしたとき</li>
						<li>利用目的に第三者への提供を含むこと</li>
						<li>第三者に提供されるデータの項目</li>
						<li>第三者への提供の手段または方法</li>
						<li>本人の求めに応じて個人情報の第三者への提供を停止すること</li>
						<li>本人の求めを受け付ける方法</li>
						<li>前項の定めにかかわらず，次に掲げる場合には，当該情報の提供先は第三者に該当しないものとします。</li>
						<li>当店が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合</li>
						<li>合併その他の事由による事業の承継に伴って個人情報が提供される場合</li>
						<li>個人情報を特定の者との間で共同して利用する場合であって，その旨並びに共同して利用される個人情報の項目，共同して利用する者の範囲，利用する者の利用目的および当該個人情報の管理について責任を有する者の氏名または名称について，あらかじめ本人に通知し，または本人が容易に知り得る状態に置いた場合</li>
					</ul>
				</article>
				<article class="box-body">
					<h4>第5条（個人情報の安全管理）</h4>
					<p>お客様よりお預かりした個人情報の安全管理はサービス提供会社によって合理的、組織的、物理的、人的、技術的施策を講じるとともに、当店では関連法令に準じた適切な取扱いを行うことで個人データへの不正な侵入、個人情報の紛失、改ざん、漏えい等の危険防止に努めます。</p>
				</article>
				<article class="box-body">
					<h4>第6条（個人情報の訂正および削除）</h4>
					<p>お客様は，当店の保有する自己の個人情報が誤った情報である場合及び変更がある場合には，第10条の問合せ先より当店に対して個人情報の訂正，追加または削除（以下，「訂正等」といいます。）を請求することができます。当サービスにユーザー登録している場合においては，お客様自身で当サービスのメニュー「マイアカウント」より個人情報の訂正をするものとします。<br>
						当店は，お客様から前項の請求を受けてその請求に応じる必要があると判断した場合には，遅滞なく，当該個人情報の訂正等を行うものとします。<br>
						当店は，前項の規定に基づき訂正等を行った場合，または訂正等を行わない旨の決定をしたときは遅滞なく，これをお客様に通知します。<br>
						訂正および削除により不要になった情報は，適切なタイミングで削除いたします。</p>
				</article>
				<article class="box-body">
					<h4>第7条（プライバシーポリシーの変更）</h4>
					<p>当店では，収集する個人情報，利用目的，その他本ポリシーの内容は，法令その他本ポリシーに別段の定めのある事項を除いて，お客様に通知することなく，変更することができるものとします。<br>
						当店が別途定める場合を除いて，変更後のプライバシーポリシーは，当サービスに掲載したときから効力を生じるものとします。</p>
				</article>
				<article class="box-body">
					<h4>第8条（cookie(クッキー)の使用について）</h4>
					<p>当店は，お客様によりよいサービスを提供するため，cookie （クッキー）を使用することがありますが，これにより個人を特定できる情報の収集を行えるものではなく，お客様のプライバシーを侵害することはございません。<br>
						cookie （クッキー）の受け入れを希望しない場合は，お客様自らブラウザの設定を変更することで受け入れを拒否するものとします。<br>
						※cookie （クッキー）とは，サーバーコンピュータからお客様のブラウザに送信され，お客様が使用しているコンピュータのハードディスクに蓄積される情報を言います。</p>
				</article>
				<article class="box-body">
					<h4>第9条（SSLの使用について）</h4>
					<p>個人情報の入力時には，セキュリティ確保のため，これらの情報が傍受，妨害または改ざんされることを防ぐ目的でSSL（Secure Sockets Layer）技術を使用いたします。<br>
						※ SSLは情報を暗号化することで，盗聴防止やデータの改ざん防止送受信する機能を言います。SSLを利用する事でより安全に情報を送信する事が可能となります。</p>
				</article>
				<article class="box-body">
					<h4>第10条（お問い合わせ窓口）</h4>
					<p>個本ポリシーに関するお問い合わせは，下記の窓口までお願いいたします。</p>
					<ul>
						<li>住所：〒670-0917　兵庫県姫路市忍町39</li>
						<li>店名：蒲田商店</li>
						<li>責任者：土田 由里</li>
						<li>電話番号：079-258-7429（11:00〜16:30　定休日：水曜日、土日祝：不定休）</li>
						<li>メールアドレス：info@kamada-shouten.jp</li>
					</ul>
				</article>
			</div>

		</div>
	</div>
</section>
{% endblock %}
